@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/welcome.css" />

<div class="text-center">
    @*<h1 class="display-4">Welcome...</h1>
    <p>...to my Soul Society</p>*@
    <h2>
        Welcome...
        <span>Welcome...</span>
        <span>Welcome...</span>
        <span>...to my Soul Society</span>
    </h2>
    
</div>

